* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

// heading comp
.parentHead {
    width: 100vw;
    background-color: hsl(0, 0%, 100%);
    // box-shadow: 0px 0px 30px 0px black;
    margin-bottom: 1rem;
    border-bottom: 5px solid black;
}

.headingText {
    background-color: inherit;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}


.inputField {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1rem;
}

.inputText {
    font-size: 2rem;
}

.inputBox {
    display: grid;
    justify-content: space-around;
}

.buttonDiv {
    margin-top: 2rem;
    text-align: center;
}

#addMovie {
    color: #ffffff;
    background-color: black;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.5s;

    &:hover {
        background-color: white;
        color: black;
        font-size: 1.1rem;
    }
}

.uploadImage {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.2rem;
    padding: 0.1rem;
    border: solid 1px black;
    font-weight: bold;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 5px;
}

.uploadImageDisplayNone {
    display: none;
}


// gallery
.galleryMain {
    height: 100vh;
    width: 100vw;
    background-color: brown;
}

.galleryParent {
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

// video screen
.videoScreenMain {
    margin-bottom: 2rem;
    height: auto;
    min-width: 320px;
    width: 100%;
    flex: 1 1 320px;
}

.videoScreen {
    outline: none;
    width: 100%;
    height: 50vh;
}

.videoScreenMeta {
    padding: 1rem;
}

.videoScreenTitle {
    font-size: 3rem;
}

// video list
.videoList {
    height: 100vh;
    width: 100%;
    flex: 1 1 320px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.videoList::-webkit-scrollbar {
    overflow: hidden;
}

// one video
.oneVideo {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 210, 210);
}

.oneVideoThumb {
    width: 100px;
    // height: 100px;
    aspect-ratio: 4/3;
    display: inline;
    padding: 0.5rem;
}

.oneVideoMeta {
    padding: 0.5rem;
    margin-left: 1rem;
}

.oneVideoTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.oneVideoDate {
    font-size: 0.5rem;
    font-style: italic;
}