* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

// heading comp
.parentHead {
    width: 100vw;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.headingText {
    background-color: inherit;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    color: #291fe6;
}


.inputField {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    margin-left: 1rem;
}

.inputText {
    font-size: 1rem;
}

.inputBox {
    display: grid;
    justify-content: center;
}


.buttonDiv {
    margin-top: 2rem;
    text-align: center;
}

#addMovie {
    color: #ffffff;
    background-color: #291fe6;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.5s;

    &:hover {
        border: solid 2px #291fe6;
        background-color: white;
        color: #291fe6;
        font-size: 1.1rem;
    }
}

.uploadImage {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.2rem;
    // padding: 0.1rem;
    border: solid 1px black;
    font-weight: bold;
    margin: 0.5rem;
    font-size: 0.8rem;
    background-color: white;
}

.uploadImageDisplayNone {
    display: none;
}


// gallery
.galleryMain {
    height: 100vh;
    width: 100vw;
}

.galleryParent {
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

// video screen
.videoScreenMain {
    margin: 0;
    height: auto;
    min-width: 320px;
    width: 100%;
    flex: 1 1 500px;
}

.videoScreen {
    outline: none;
    width: 100%;
    // height: 50vh;
}

.videoScreenMeta {
    padding: 1rem;
}

.videoScreenTitle {
    font-size: 3rem;
}

// video list
.videoList {
    height: 100vh;
    width: 100%;
    flex: 1 1 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.videoList::-webkit-scrollbar {
    overflow: hidden;
}

// one video
.oneVideo {
    display: flex;
    margin: 0.5rem;
    background-color: rgb(221, 210, 255);
}

.oneVideoThumb {
    width: 100px;
    // height: 100px;
    aspect-ratio: 4/3;
    display: inline;
    padding: 0.5rem;
}

.oneVideoMeta {
    padding: 0.5rem;
    margin-left: 1rem;
}

.oneVideoTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.oneVideoDate {
    font-size: 0.5rem;
    font-style: italic;
}

@media (max-width:700px) {
    .html {
        font-size: 50%;
    }
}



// pagination
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev,
.next {
    background: #fff;
    border: none;
    padding: 5px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
}

.paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}